.circle-button-items{
    height: 30px;
    display: flex;
    align-items: center;
}

.circle-button-item{
    border-radius: 50px;
    height: 15px;
    width: 15px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .bg-red{
    background-color: #ef233c;
  }
  .close-img{
    opacity: 0.4;
    height: 8px;
    width: 8px;
  }
  .bg-yellow{
    background-color: #f0cf65;
  }
  .minimize-img{
    opacity: 0.4;
    height: 10px;
    width: 10px;
  }
  .bg-green{
    background-color: #6cc551;
  }
  .expand-img{
    opacity: 0.4;
    height: 9px;
    width: 9px;
  }