.drop-down-menu{
    color: white;
    opacity: 0.9;
}

.drop-down-menu-title{
    color: white;
    display: flex;
    align-items: center;
    height: 30px;
}

.drop-down-logo{
    width: 18px;
    height: 18px;
    margin-left: 7px;
}

.drop-down-menu-items{
    position: absolute;
    top: 30px;
    left: 15px;
    width: 250px;
    display: flex;
    background-color: #2b3348;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 5px 5px 5px;
    border: 1px solid gray;
    border-radius: 6px;
}

