*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.container{
  height: 100vh;
  width: 100%;
  background-color: #0B192E;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container{
  height: 100vh;
  width: 100%;
  background-color: black;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding-bottom: 100px;
}

.login-img{
  height: 30vh;
  width: 30vh;
  border-radius: 100%;
}

.login-user-title{
  display: flex;
  align-items: center;
  font-size: 25px;
  height: 50px;
}

.login-password-input{
  display: flex;
  align-items: center;
  height: 30px;
  color: #eceff1;
  background-color: gray;
  border: 1px solid gray;
  padding-left: 14px;
  border-radius: 100px;
  placeholder-color:red;
}

.login-password-input:focus{
  outline: none !important;
}

.login-password-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(196, 200, 205);
  opacity: 1; /* Firefox */
}